<div *ngIf="isLoaded" class="container" [ngClass]="{'container--comment' : getHeights()}" id="topic-container">
    <h2>{{topic?.title}}</h2>
    <div id="medias" #medias ><img *ngIf="topic?.media && !topic?.type" src="{{topic?.media}}"
            alt="image de {{topic?.title}}" class="image-topic">
        <video *ngIf="topic?.media&&topic?.type" controls controlsList="nodownload">
            <source src="{{topic?.media}}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
        <div *ngIf="!topic?.media" class="no-media">
            <p *ngFor="let paragraph of topic?.content">{{paragraph}}</p>
        </div>
    </div>
    <div class="description" #description>
        <div class="maker" role="link" (click)="goToUserPage(topic?.UserMessage.User.id)"><img class="avatar"
                src="{{topic?.UserMessage.User.avatar}}"
                alt=""><span>{{topic?.UserMessage.User.username}}</span><span>Posté le {{topic?.createdAt|date: 'd/MM/yyyy, h:mm'}}</span></div>
        <div *ngIf="topic?.media">
            <p *ngFor="let paragraph of topic?.content">{{paragraph}}</p>
        </div>
        <p class="topic-footer"><span (click)="like()"><mat-icon [ngStyle]="{'color': isLiked ? 'red' : ''}">favorite</mat-icon> {{topic?.Likes.length}}</span><span><mat-icon>comment</mat-icon> {{topic?.Comments.length}}</span>
            <mat-icon>star</mat-icon>
        </p>
        <div>
            <app-button [config]="iconSuppr" (whenIsClicked)="deleteTopic()">Supprimer</app-button>
            <app-button [config]="iconEdit" (whenIsClicked)="edition=true;">Editer</app-button>
        </div>
        <form id="postComment" #postComment ngNativeValidate enctype="multipart/form-data"><label for="commentThis">Commenter</label>
            <app-form [config]="comment"></app-form>
            <app-button [config]="iconSend" (whenIsClicked)="sendComment()">Envoyer</app-button>
        </form>
    <ng-container *ngFor="let comment of topic?.Comments">
            <app-comment [comment]="comment" (onDelete)="deletedComment()"></app-comment>
        </ng-container>
        
        
        


    </div>
    <div class="suggests">
        <app-resume (whenSuggestIsClicked)="getOnePost()" (whenIsLiked)="likeAPost($event)" [data]="topics" [isLoaded]="isLoaded"></app-resume>
    </div>
</div>
<form id="editPostForm" *ngIf="edition" (click)="this.edition=false" #editPostForm ngNativeValidate>
    <h3>Editer le post</h3>
    <app-form *ngFor="let field of forms" [config]="field" (click)="onTarget($event)"></app-form>
    <app-button (whenIsClicked)="editTopic()" [config]="sendBtn"></app-button>
  </form>