$colors:("primary":#1C2A50, "secondary":#B54962, "tertiary":#B8B8B8,"light":#F8F8FF);

/*

    background: rgb(255,102,102);
    background: linear-gradient(133deg, rgba(255,102,102,1) 22%, rgba(204,255,102,1) 46%, rgba(46,196,182,1) 100%);
    */