<ng-container [ngTemplateOutlet]="config.type === 'textarea' ? textarea : input"></ng-container>

<ng-template #input>
  <p><label for="{{config.id}}">{{config.label}}</label><input type="{{config.type}}" name="{{config.id}}" placeholder="{{config.label}}" id="{{config.id}}"></p>
</ng-template>

<ng-template #textarea>
    <p><label for="{{config.id}}">{{config.label}}</label><textarea id="{{config.id}}" placeholder="{{config.label}}"></textarea></p>
</ng-template>


<!-- ========== <ckeditor #myEditor id="{{config.id}}" [editor]="Editor" data="" (focus)="saveArticle()"></ckeditor> ========== -->

<!-- ========== End Section ========== -->