@import "../../../../assets/variables.scss";

.spinner {
    content: "";
    animation: chargement 0 ease-in-out;
    animation-fill-mode: forwards;
    background-color: map-get($colors, light);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @keyframes chargement {
        from {
            opacity: 1;
        }

        85% {
            opacity: 1;
        }
        99% {
            opacity: 0;
            left: 0;
            top: 0;
        }
        to {
            left: -3000px;
            top: -3000px;
        }
    }
    .spinner__loader {
        width: 15vh;
        height: 15vh;
        background: linear-gradient(170deg, map-get($colors, secondary), map-get($colors,primary));
        position: relative;
        border-radius: 8vh;
        transform: rotate(0deg);
        &::before {
            position: absolute;
            content: "";
            width: 7vh;
            height: 7vh;
            background-color: map-get($colors,light);
        }
        &::after {
            content: "";
            position: absolute;
            width: 11vh;
            height: 11vh;
            top: 2vh;
            left: 2vh;
            background-color: map-get($colors,light);
            border-radius: 8vh;
        }
        animation: tourne 1s linear -100ms infinite normal;
        @keyframes tourne {
            to {
                transform: rotate(360deg);
            }
        }
    }
}