@import "../../../../../assets/variables.scss";
.container {
    margin: 0 20px;
    h2 {
        flex: 100%;
        margin: 30px auto;
        text-align: center;
        color: map-get($map: $colors, $key: primary);
        font-size: 40px;
    }
    .new-post {
        text-align: center;
    }
}
app-form {
    width: 100%;
}
form {
    z-index: 1;
    position: fixed;
    background-color: map-get($map: $colors, $key: light);
    padding: 5vh 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    width: 60vw;
    height: 60vh;
    top: 15vh;
    left: 15vw;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
    @media screen and (max-width: 640px) {
        width: 80vw;
        height: 80vh;
        top: 5vh;

        left: 5vw;
    }
    app-form:nth-child(5) {
        flex: 1;
    }
    img {
        width: 25%;
        object-fit: contain;
    }
    app-button {
        width: 100%;

        text-align: center;
    }
    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100vw;
        height: 100vh;
        background-color: transparentize($color: #000000, $amount: 0.7);
    }
    h3 {
        flex: 100%;
        text-align: center;
    }
}
.hidden {
    visibility: hidden;
}
div.new-post-icon {
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: transparentize($color: map-get($map: $colors, $key: primary), $amount: 0.3);
    color: map-get($map: $colors, $key: light);
    position: fixed;
    z-index: 1;
    margin: 4px;
    padding: 4px;
    font-size: 40px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    text-align: center;
    bottom: 186px;
    right: 0;
    @media screen and (max-width: 640px) {
        right: 186px;
        bottom: 0;
    }
    &:hover {
        border: 1px solid map-get($map: $colors, $key: secondary);
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.4);
    }
}
